<mat-sidenav-container class="sidenav-container" autosize="">

  <mat-sidenav-content>
    <!-- Toolbar -->
    <mat-toolbar class="toolbar" style="background-color: rgba(0, 100, 166, 1);">
      <h1>MSE-CampusInfo</h1>
    </mat-toolbar>

    <!-- Bottom Navbar -->
    <div class="bottom-tab">
      <button class="tablinks" [routerLink]="['/schedule']" [routerLinkActive]="['active']">
        <div class="tab-button">
          <mat-icon class="tab-icon">calendar_today
            <h2 class="tab-name">Schedule</h2>
          </mat-icon>
        </div>
      </button>
      <button class="tablinks" [routerLink]="['/location']" [routerLinkActive]="['active', 'schedule']">
        <div class="tab-button">
          <mat-icon class="tab-icon">room
            <h2 class="tab-name">Location</h2>
          </mat-icon>
        </div>
      </button>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
