<div class="container">
    <div class="tab-group">
        <mat-tab-group fitInkBarToContent animationDuration="0ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    ZHAW <br> ZL
                </ng-template>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <div class="info">
                            <mat-card class="infoCard" appearance="outlined">
                                <mat-card-header style="padding-left: 10px; padding-top: 10px; padding-right: 10px;">
                                    <mat-card-title>Zürich - Campus Zentrum</mat-card-title>
                                    <mat-card-subtitle>Lagerstrasse 41, 8004 Zürich</mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <div id="map" class="map">
                            <google-map id="mapZL" [options]="ZLmapOptions" width="auto">
                                <map-marker #ZLmarker="mapMarker" 
                                            [position]="ZLLatLng" 
                                            [options]="markerOptions">
                                </map-marker>
                            </google-map>
                        </div>
                    </div>
                </div>
            </mat-tab>
            
            <mat-tab>
                <ng-template mat-tab-label>
                    ZHAW <br> TE
                </ng-template>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <div class="info">
                            <mat-card class="infoCard" appearance="outlined">
                                <mat-card-header style="padding-left: 10px; padding-top: 10px; padding-right: 10px;">
                                    <mat-card-title>Winterthur - Campus Technikumstrasse, Ostgebäude</mat-card-title>
                                    <mat-card-subtitle>Technikumstrasse 9, 8400 Winterthur</mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <div class="map">
                            <google-map id="mapTE" [options]="TEmapOptions" width="auto">
                                <map-marker #TEmarker="mapMarker" 
                                            [position]="TELatLng" 
                                            [options]="markerOptions">
                                </map-marker>
                            </google-map>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    Sihlhof <br> HWZ
                </ng-template>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <div class="info">
                            <mat-card class="infoCard" appearance="outlined">
                                <mat-card-header style="padding-left: 10px; padding-top: 10px; padding-right: 10px;">
                                    <mat-card-title>Hochschule für Wirtschaft Zürich</mat-card-title>
                                    <mat-card-subtitle>Lagerstrasse 5, 8004 Zürich</mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <div class="map">
                            <google-map id="mapHWZ" [options]="HWZmapOptions" width="auto">
                                <map-marker #HWZmarker="mapMarker" 
                                            [position]="HWZLatLng" 
                                            [options]="markerOptions">
                                </map-marker>
                            </google-map>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    PHZH <br> LAA
                </ng-template>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <div class="info">
                            <mat-card class="infoCard" appearance="outlined">
                                <mat-card-header style="padding-left: 10px; padding-top: 10px; padding-right: 10px;">
                                    <mat-card-title>Pädagogische Hochschule Zürich</mat-card-title>
                                    <mat-card-subtitle>Lagerstrasse 2, 8004 Zürich</mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <div class="map">
                            <google-map id="mapLAA" [options]="LAAmapOptions" width="auto">
                                <map-marker #LAAmarker="mapMarker" 
                                            [position]="LAALatLng" 
                                            [options]="markerOptions">
                                </map-marker>
                            </google-map>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    FHGR <br> 
                </ng-template>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <div class="info">
                            <mat-card class="infoCard" appearance="outlined">
                                <mat-card-header style="padding-left: 10px; padding-top: 10px; padding-right: 10px;">
                                    <mat-card-title>Fachhochschule Graubünden</mat-card-title>
                                    <mat-card-subtitle>Limmatstrasse 21, 8005 Zürich</mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <div class="map">
                            <google-map id="mapFHGR" [options]="FHGRmapOptions" width="auto">
                                <map-marker #FHGRmarker="mapMarker" 
                                            [position]="FHGRLatLng" 
                                            [options]="markerOptions">
                                </map-marker>
                            </google-map>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    HES-SO <br> 
                </ng-template>
                <div class="flex-container">
                    <div class="flex-item-left">
                        <div class="info">
                            <mat-card class="infoCard" appearance="outlined">
                                <mat-card-header style="padding-left: 10px; padding-top: 10px; padding-right: 10px;">
                                    <mat-card-title>Haute école spécialisée de Suisse occidentale</mat-card-title>
                                    <mat-card-subtitle>Av. de Provence 6, 1007 Lausanne</mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                        </div>
                    </div>
                    <div class="flex-item-right">
                        <div class="map">
                            <google-map id="mapHESSO" [options]="HESSOmapOptions" width="auto">
                                <map-marker #HESSOmarker="mapMarker" 
                                            [position]="HESSOLatLng" 
                                            [options]="markerOptions">
                                </map-marker>
                            </google-map>
                        </div>
                    </div>
                </div>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>

