<div class="container">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <h3 >{{data.name}}</h3>

    <mat-dialog-content>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet"/>
        <div class="material-icons-outlined"> 
            <span class="icon">schedule</span>
            <p>{{data.time}}</p>
        </div>
        <div class="material-icons-outlined"> 
            <span class="icon">room</span>
            <p>{{data.location}}</p>
        </div>
        <div class="material-icons-outlined">
            <span class="icon">class</span>
            <p>{{data.mode}}</p>
        </div>
    </mat-dialog-content>

    <div class="button">
        <a mat-button mat-dialog-close style="background-color:  rgba(241, 240, 245, 1); color: rgba(105, 59, 184, 0.87);">Close</a>
    </div>
</div>

