::ng-deep .mat-mdc-dialog-container .mdc-dialog__title{
    padding-bottom: 0px;
}

::ng-deep .mat-typography h2{
    margin: 0px 0px 0px 0px;
    font-size: 1.5rem;
}

::ng-deep .mat-typography h3{
    font: status-bar;
    padding: 0px 24px 0px 24px;
    margin: 5px 0px 5px 0px;
    font-size: 1rem;
}

::ng-deep .mat-typography h4{
    font: -webkit-small-control;
    padding: 0px 24px 0px 24px;
    margin: 0px 0px 0px 0px;
    font-size: 1rem;
}

::ng-deep .mat-typography p{
    margin: 0px 0px 0px 0px;
    font-size: 1rem;
}

::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-title+.mat-mdc-dialog-content{
    padding-top: 10px;
    padding-bottom: 10px;
}

.material-icons-outlined{
    font: 1rem;
    display: flex;
    margin: 10px 0px 10px 0px;
    align-items: flex-start;
}

.icon{
    font-size: 1rem;
    padding: 0px 10px 0px 0px;
}

.button{
    padding: 0px 24px 24px 24px;
    text-align: center;
}