<div class="container">
  <div class="selector-form">
    <mat-form-field class="profileForm">
      <mat-label>Your Profile</mat-label>
      <select id="selector" name="selector" [formControl]="profileCtr" matNativeControl>
        <option value="all" [defaultSelected]="true">All profiles</option>
        <option value="CS_Profil">CS_Profil</option>
        <option value="ElE_Profil">ElE_Profil</option>
        <option value="EnEn_Profil">EnEn_Profil</option>
        <option value="DS_Profil">DS_Profil</option>
        <option value="MA_Profil">MA_Profil</option>
        <option value="CE_Profil">CE_Profil</option>
        <option value="Pho_Profil">Pho_Profil</option>
        <option value="BT_Profil">BT_Profil</option>
        <option value="BE_Profil">BE_Profil</option>
        <option value="Med_Profil">Med_Profil</option>
        <option value="ME_Profil">ME_Profil</option>
        <option value="Avi_Profil">Avi_Profil</option>
        <option value="ReLa_Profil">ReLa_Profil</option>
        <option value="Geo_Profil">Geo_Profil</option>
        <option value="Mic_Profil">Mic_Profil</option>
      </select>
    </mat-form-field>
  </div>

  <div class="calendar" id="calendar"></div>
</div>


