.container{
    margin: 10px 10px 10px 10px;
    position: sticky;
    top: auto;
}

.profileForm{
    width: 100%;
}

.calendar {
    width: auto;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align{
    display: none;
    margin-bottom: 5px;
}

::ng-deep .fc .fc-toolbar.fc-header-toolbar{
    display: block;
    text-align: center;
    margin: 5px 0px 5px 0px;
}

::ng-deep .fc-toolbar-chunk{
    display: -webkit-inline-box;
    margin: 5px 0px 5px 0px;
}

::ng-deep .fc-direction-ltr .fc-toolbar > * > :not(:first-child){
    margin: 0px 10px 0px 10px;
}

::ng-deep .fc-button-group{
    margin: 0px 0px 0px 10px;
}

::ng-deep .fc-today-button.fc-button.fc-button-primary{
    margin: 0px 10px 0px 20px;
}

::ng-deep .fc-next-button.fc-button.fc-button-primary{
    margin: 0px 0px 0px 0px;
}

::ng-deep .fc .fc-button-primary {
    background-color: rgba(245, 245, 245, 1);
    color: rgba(0, 0, 0, 0.54);
    border: none;
    outline: none;
}

::ng-deep .fc .fc-button-group > .fc-button:hover {
    background-color: rgba(241, 240, 245, 1);
    color: rgba(105, 59, 184, 0.87);
}

::ng-deep .fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    background-color: rgba(232, 227, 242, 1);
    color: rgba(105, 59, 184, 1);
}

::ng-deep .fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
    box-shadow: none;
}

::ng-deep .fc .fc-today-button:hover {
    background-color: rgba(241, 240, 245, 1);
    color: rgba(105, 59, 184, 0.87);
}

::ng-deep .fc .fc-button-primary:not(:disabled):active {
    background-color: rgba(241, 240, 245, 1);
    color: rgba(105, 59, 184, 1);
}

::ng-deep .fc .fc-button-primary:disabled {
    background-color: rgba(232, 227, 242, 1);
    color: rgba(105, 59, 184, 1);
    opacity: inherit;
}

::ng-deep .fc .fc-button-primary:hover {
    background-color: rgba(241, 240, 245, 1);
    color: rgba(105, 59, 184, 0.87);
}

::ng-deep .fc .fc-view-harness{
    margin-bottom: 50px;
}

::ng-deep .fc-event .fc-event-main{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgba(184, 178, 59, 0.87);
}

::ng-deep .fc-v-event {
    border:  none;
}

::ng-deep .fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::ng-deep .fc-timegrid-event-harness > .fc-timegrid-event{
    height: fit-content;
}